@mixin centerContent {
  display: grid;
  position: relative;
  place-items: center;
  align-content: center;
  box-sizing: border-box;
}

@mixin fullPageContent {
  @include centerContent;
  min-height: 100vh;
}

@mixin snapScroll {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

@mixin translateDefault {
  transform: translateX(0) translateY(0) translateZ(0);
}