html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar {
  display: none;
}

html.isLoading {
  overflow: hidden;
}

/* Night shift */
html:before {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffa339;
  opacity: .1;
  pointer-events: none;
  content: ' ';
  z-index: 99999;
}

body {
  min-height: 100vh;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #212121;
  opacity: .8;
  transform-origin: 0%;
}