@use '@/styles/globals' as *;

.wrapper {
  position: relative;

  .frame {
    box-sizing: border-box;
    width: 50%;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    transition: all .5s cubic-bezier(0, 1.27, .83, .67);
  }

  .appear {
    opacity: 1;
  }

  .fontBold {
    font-weight: 600;
  }

  .link {
    font-weight: 600;
    text-decoration: none;
    color: $text-color;
  }
}