.logo {
  width: 100%;
  text-align: center;
}

.logo svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: none;
}

.logo.show svg path { animation: draw 2s linear forwards; }
.logo.show svg path:nth-child(2) { animation-delay: 1.00s; }
.logo.show svg path:nth-child(3) { animation-delay: 1.50s; }
.logo.show svg path:nth-child(4) { animation-delay: 2.00s; }
.logo.show svg path:nth-child(5) { animation-delay: 2.25s; }
.logo.show svg path:nth-child(6) { animation-delay: 2.50s; }
.logo.show svg path:nth-child(7) { animation-delay: 2.75s; }
.logo.show svg path:nth-child(8) { animation-delay: 3.00s; }
.logo.show svg path:nth-child(9) { animation-delay: 3.10s; }

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}